<div class="header">

  <h1><a href="/"> Vinyl </a></h1>

  <ul class="nav nav-pills pull-right">
    <% if (!loggedIn) { %>
      <li> <a href="/sign-in"> Sign In </a> </li>
      <li> <a href="/sign-up"> Sign Up </a> </li>
    <% } %>

    <% if (loggedIn) { %>
      <li> <a href="/users"> Profile </a> </li>
      <li> <a href="/sign-out"> Sign Out </a> </li>
    <% } %>
  </ul>

</div>
