<div>

  <h1><a href="/"> Vinyl </a></h1>

  <% if (!loggedIn) { %>
    <a href="/sign-in"> Sign In </a>
    <a href="/sign-up"> Sign Up </a>
  <% } %>

  <% if (loggedIn) { %>
    <a href="/users"> Profile </a>
    <a href="/sign-out"> Sign Out </a>
  <% } %>

</div>
